.icon {
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
}

.grid hr {
    margin: 12px 0px;
    grid-column: 1/-1;
}
